<%- include("partials/header.ejs") %>
    <div id="nav">
        <a href="/">Popular</a>
        <a href="/upcoming">Upcoming</a>
        <a href="/airing" style="background-color: #e9a367; ">Airing</a>
        <a href="/favorite">Favorite</a>
        <a href="/random">Random</a>
    </div>

    <%- include("partials/footer.ejs") %>