<%- include("partials/header.ejs") %>
    <div id="nav">
        <a href="/">Popular</a>
        <a href="/upcoming" style="background-color: #e9a367; ">Upcoming</a>
        <a href="/airing">Airing</a>
        <a href="/favorite">Favorite</a>
    </div>
    <%- include("partials/footer.ejs") %>